/*
!README.md
!LICENSE

# config files
/cfg/*
/cfg/config/*
!/cfg/
!/cfg/autoexec.cfg
!/cfg/config/
!/cfg/config/*.cfg

# resource files
/resource/*
/resource/ui/*
!/resource/
!/resource/csgo_colormod.txt
!/resource/ui/
!/resource/ui/radiopanel.txt
